@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$mainFont: 'Roboto', sans-serif;
$mainTitleSize: 35px;
$subTitleSize: 22px;
$textSize: 16px;
$smTextSize: 16px;

.title{
    font-size: $mainTitleSize;
    font-weight: 500;
    margin: 0;
}

.subTitleSize{
    font-size: $subTitleSize;
    font-weight: 500;
    margin: 0;
}

.textSize{
    font-size: $textSize;
    font-weight: 300;
}

.smTextSize{
    font-size: $smTextSize;
    margin: 0;
}

*{
    font-family: $mainFont;
}

.brand-color-span{
    color: $main-bg-color;
}