@import "bootstrap/scss/bootstrap.scss";
@import "@tomtom-international/web-sdk-maps";
@import "../../node_modules/@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css";
@import "./partials/colors.scss";

@mixin standard-button {
    background-color: $main-bg-color;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brand-color-span{
    color: $main-bg-color;
}

.access-buttons{
    a {
        background: linear-gradient(108deg, white 0 45%, $main-bg-color 45% 90%, white 90% 100%);
        background-size: 190%;
        width: 100px;
        padding: 10px;
        border-radius: 30px;
        text-decoration: none;
        color: $main-bg-color;
        width: 110px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: white;
            background-position: right;
        }
    }
}