@import "bootstrap/scss/bootstrap.scss";
@import "@tomtom-international/web-sdk-maps";
@import "../../node_modules/@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css";
@import "./partials/colors.scss";

@mixin standard-button {
    background-color: $main-bg-color;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brand-color-span{
    color: $main-bg-color;
}